.pagination {
    padding-left: 0;
    margin: 1.5rem 0;
    list-style: none;
    color: #999999;
    text-align: left;
}
.pagination:before,
.pagination:after {
    content: " ";
    display: table;
}
.pagination:after {
    clear: both;
}
.pagination > li {
    display: inline-block;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    line-height: 1.2;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 5px;
    margin-right: 5px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    margin-right: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #eeeeee;
}
.pagination > .am-active > a,
.pagination > .am-active > span,
.pagination > .am-active > a:hover,
.pagination > .am-active > span:hover,
.pagination > .am-active > a:focus,
.pagination > .am-active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #0e90d2;
    border-color: #0e90d2;
    cursor: default;
}
.pagination > .am-disabled > span,
.pagination > .am-disabled > span:hover,
.pagination > .am-disabled > span:focus,
.pagination > .am-disabled > a,
.pagination > .am-disabled > a:hover,
.pagination > .am-disabled > a:focus {
    color: #999999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
    pointer-events: none;
}
.pagination .pagination-prev {
    float: left;
}
.pagination .pagination-prev a {
    border-radius: 0;
}
.pagination .pagination-next {
    float: right;
}
.pagination .pagination-next a {
    border-radius: 0;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}